[submodule "apps/worker/src"]
	path = apps/worker/src
	url = http://github.com/WeKeyPedia/WKP-python-toolkit
[submodule "apps/playground/src"]
	path = apps/playground/src
	url = https://github.com/WeKeyPedia/playground-web
[submodule "apps/nginx/src"]
	path = apps/nginx/src
	url = https://github.com/WeKeyPedia/nginx-gateway
[submodule "apps/api/src"]
	path = apps/api/src
	url = https://github.com/WeKeyPedia/api
