[submodule "apps/worker/src"]
	path = apps/worker/src
	url = git@github.com:WeKeyPedia/WKP-python-toolkit.git
[submodule "apps/playground/src"]
	path = apps/playground/src
	url = git@github.com:WeKeyPedia/playground-web.git
[submodule "apps/nginx/src"]
	path = apps/nginx/src
	url = git@github.com:WeKeyPedia/nginx-gateway.git
[submodule "apps/api/src"]
	path = apps/api/src
	url = https://github.com/WeKeyPedia/api
