[Unit]
Description=Neo4j
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a neo4j || /usr/bin/docker run --name neo4j wekeypedia/neo4j'
ExecStop=/usr/bin/docker stop neo4j 

[Install]
WantedBy=multi-user.target