[Unit]
Description=MongoDB
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a mongodb || /usr/bin/docker run --name mongodb --volume /home/core/share/data:/data wekeypedia/mongodb'
ExecStop=/usr/bin/docker stop mongodb 

[Install]
WantedBy=multi-user.target