[Unit]
Description=API instance
After=docker.service
Requires=mongodb.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a api || /usr/bin/docker run --name api --link mongodb:mongodb wekeypedia/api'
ExecStop=/usr/bin/docker stop api 

[Install]
WantedBy=multi-user.target